html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0 auto;
  font-family:  Arial, sans-serif;
  font-size: 12px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

main {
  width: 100%;
}

.wrapper {
  width: 80%;
}

/* Accordeon */

.accordeon {
  color: blue;
}

.accordeon_element {
  border-top: 2px solid #dedede;
  display: flex;
  flex-direction: column;
}

.accoredeon_input {
  appearance: none;
}

.accordeon_label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordeon_title {
  width: 100%;
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: color 0.5s;
}

.accordeon_svg {
  width: 1rem;
}

.accordeon_close {
  transition: all 1s ;
  transform: rotate(45deg);
}

.accordeon_img {
  max-width: 50%;
  align-self: center;
  display: none;
  padding-bottom: 0.5rem;
}

.accoredeon_input:checked ~ .accordeon_label > .accordeon_img {
  display: block;
  animation: show 1s;
}

.accoredeon_input:checked ~ .accordeon_label > .accordeon_title {
  color: black;
}

.accoredeon_input:checked ~ .accordeon_label > .accordeon_title > .accordeon_close {
  transform: rotate(0deg);;
}

.accordeon_element:active > .accordeon_label > .accordeon_title {
  color: blue;
}

.accordeon_element:active > .accordeon_label {
  opacity: 0.7;
}

/* @media */

@media (max-width: 820px) and (min-width: 321px) {
  
  body {
    font-size: 17px;
  }
}

@media (min-width: 821px) {

  body {
    font-size: 20px;
  }

  .accordeon:hover {
    color: black;
  }

  .accordeon_element:active > .accordeon_label > .accordeon_title {
    color: blue;
  }

  .accordeon_element:active > .accordeon_label {
    opacity: 0.7;
  }

  .accordeon_element:hover > .accordeon_label > .accordeon_img {
    display: block;
    animation: show 1s;
  }
  
  .accordeon_element:hover > .accordeon_label > .accordeon_title > .accordeon_close {
    transform: rotate(0deg);
  }
}

/* @keyframes */

@keyframes show {
  from {max-width: 0;} to {max-width: 50%;}
  }